body {
    background: rgba(205, 175, 255, 0.8);
}

.title {
    margin: 15px;
    text-align: center;
}

titletext {
    font-size: 22px;
    color: #000000;
    font-weight: bold;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.menubackground {
    height: 6%;
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
    background-color: white;
}

.maincontainer {
    position: relative;
    width: 91%;
    height: 90%;
    border-radius: 25px;
    margin: auto;
    background: rgba(255, 255, 255, 0.7);
    overflow-y: auto;
}

.bodytextcss{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    text-align: left;
    white-space: pre-wrap;

}

bodytext{

    font-size: 20px;
    color: #000000;

}


.menubuttons{
    float: left;
}

#menubutton1{
    margin: 5px;
    height: calc(100% - 10px);
    box-sizing: border-box;
    background-color:#ffffff;
    color: #000000;
    display: inline-block;
     border-style: solid;
    border-width: medium;
}

buttontext {
    font-size: 20px;
}
