body {
    background: rgba(205, 175, 255, 0.8);
}

.title {
    margin: 20px;
    text-align: center;
}

titletext {
    font-size: 22px;
    color: #000000;
    font-weight: bold;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.menubackground {
    position: relative;
    width: 91%;
    height: 90%;
    border-radius: 25px;
    margin: auto;
    background: rgba(255, 255, 255, 0.7);
    overflow-y: auto;
}
